.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 20px;
  top: 0;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  z-index: 1;

  &__logo {
    width: 80px;
    object-fit: contain;
    left: 20px;
  }
  &__black {
    background-color: #111;
  }
}
.nav__avatar {
  width: 40px;
  position: fixed;
  right: 20px;
}
